.App {
  background-color: antiquewhite;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.roomNameBox {
  margin-bottom: 100px;
}
.roomNameInput {
  margin-left: 20px;
}
.localStream {
}
.vidoeBox {
  display: flex;
  /* flex-direction: column; */
}
